/*
* @Author: Administrator
* @Date:   2017-08-28 10:15:18
* @Last Modified by:   Administrator
* @Last Modified time: 2017-08-29 20:02:54
*/
body {
    background: #F6F6F6;
}

/* 顶部导航 */
.top_nav {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #e3e4e5;
}

.city {
    margin-left: 210px;
}

.city i {
    font-size: 18px;
    color: #f10215
}

.top_nav li {
    float: left;
}

.top_line {
    height: 11px;
    width: 1px;
    background: #ccc;
    margin: 11px 14px 0;
}

.top_nav span.iconfont {
    margin-left: 5px
}

.red {
    color: #f10215;
}

.top_nav li a + span {
    font-size: 12px;
}

/* logo */
.header {
    position: relative;
    height: 140px;
}

.header > div, .header > ul {
    position: absolute;
}

.logo {
    top: -30px;
    background: #fff;
    box-shadow: 0 -6px 8px 3px #666
}

.logo a {
    display: block;
    width: 190px;
    height: 170px;
    background: url(../images/logo.v2.png);
    text-indent: 10px;
}

.search, .buy {
    top: 25px;
}

.search, .tag {
    left: 320px;
}

.header li {
    float: left;
}

.search input {
    width: 498px;
    height: 33px;
    border: 1px solid #f10215;
    border-right: 0 none;
    vertical-align: top;
}

.search button {
    height: 35px;
    width: 51px;
    background: #f10215;
    color: #fff;
    font-size: 18px;
}

.search a {
    position: absolute;
    top: 9px;
    right: 65px;
    font-size: 20px;
}

.buy {
    right: 96px;
    width: 188px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    background: #fff;
    border: 1px solid #e3e4e5;
}

.buy i {
    font-style: 20px;
    color: #f10113;
}

.buy span {
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    background: #f10113;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 6px;
    right: 34px;
}

.buy .red {
    position: relative;
    top: -3px;
}

.ewm {
    width: 60px;
    height: 60px;
    border: 1px solid #cfcfcf;
    padding: 3px;
    right: 0;
    top: 0;
}

.ewm img {
    width: 60px;
    height: 60px;
}

.tag {
    top: 70px;
}

.tag li {
    margin-right: 10px
}

.nav {
    left: 215px;
    bottom: 13px;
}

.nav li a {
    font-size: 18px;
    font-weight: bold;
}

.nav li {
    margin: 0 15px;
}

.nav .top_line {
    margin: 8px 5px 0;
}

.gg {
    bottom: 13px;
    right: 0;
}

/* banner */
.pro_list, .banner_r {
    width: 190px;
    height: 480px;
}

.pro_list {
    background: #6e5668;
    padding-top: 16px;
    box-sizing: border-box;
}

.pro_list li {
    height: 28px;
    line-height: 28px;
    padding-left: 12px
}

.pro_list li:hover {
    background: rgba(255, 255, 255, 0.3);
}

.pro_list a {
    font-size: 14px;
    color: #fff;
}

.box_a {
    font-size: 14px;
    color: #fff;
}

.banner_pic {
    margin-left: 10px;
}

.banner_t {
    margin-bottom: 10px;
    width: 790px;
    height: 340px;
    position: relative;
}

.banner_t ul {
    width: 182px;
    height: 20px;
    border-radius: 20px;
    background: rgba(255, 255, 255, .5);
    position: absolute;
    left: 50%;
    margin-left: -91px;
    bottom: 20px;
}

.banner_t li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fff;
    float: left;
    margin: 4px 0 0 9px;
}

.banner_t ul li:nth-child(3) {
    background: #db192a;
}

.banner_b img:first-child {
    margin-right: 8px
}

.banner_r {
    width: 190px;
    background: #fff;
    float: right;
}

.banner_r_t {
    height: 115px;
    border-bottom: 1px solid #999;
}

.banner_r_c {
    height: 156px;
}

.banner_r_b {
}

.dog {
    padding: 16px 16px 0 15px;
    box-sizing: border-box;
}

.dog_t_l {
    width: 46px;
    height: 46px;
    border: 2px solid red;
    padding: 2px;
    border-radius: 50%;
    float: left
}

.dog_t_l img {
    width: 46px;
    height: 46px;
    border-radius: 50%
}

.dog_t_r {
    float: right;
}

.dog_t_r p {
    height: 21px;
    font-size: 12px;
}

.dog_b {
    margin-top: 11px;
}

.dog_b a {
    height: 20px;
    width: 70px;
    border: 2px solid red;
    margin-right: 3px;
    padding: 2px 11px;
}

.banner_r_c {
    padding: 0 18px;
    box-sizing: border-box;
}

.cx span {
    padding: 0 17px 0 12px;
}

.b_r_c_t {
    padding-top: 12px;
    border-bottom: 1px solid #999;
    padding-bottom: 5px;

}

.b_r_c_b ul {
    padding-top: 16px;
}

.b_r_c_b li {
    height: 25px;
}

.b_r_c_b {
    box-sizing: border-box;
}

.banner_r_b ul {
    width: 196px;
    padding-top: 1px
}

.banner_r_b li {
    width: 47px;
    height: 69px;
    border: 1px solid #999;
    float: left;
    margin-left: -1px;
    margin-top: -1px;
    text-align: center;
    position: relative;
}

.banner_r_b {
    overflow: hidden;
    height: 208px;
}

.banner_r_b li span {
    display: block;
    width: 25px;
    height: 23px;
    background: url("../images/qqq.png") 0 -88px;
    margin: 0 auto;
    margin-top: 10px
}

.banner_r_b li i {
    display: block;
    margin-top: 6px
}

.banner_r_b a {
    width: 49px;
    height: 71px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

/* 秒杀 */
.miao_sha {
    height: 305px;
    background: #fff;
    margin: 10px 0 30px;
}

.title_h {
    height: 55px;
}

.miao_top {
    background: #e01222;
    padding: 8px 20px 0 30px;
    box-sizing: border-box;
    position: relative;

}

h2 {
    font-size: 26px;
    color: #fff;
}

.miao_top h2 {
    margin: 0 15px 0 10px;
}

.miao_l a:hover {
    color: #fff;
}

.miao_l i {
    display: inline-block;
    width: 34px;
    height: 42px;
    background: url("../images/sprite_index@1x.png") 0 -39px;

}

.miao_l span {
    display: inline-block;
    width: 20px;
    height: 18px;
    background: url("../images/sprite_index@1x.png") -151px -39px;
    vertical-align: middle;
}

.miao_l a {
    margin-top: 15px;
    display: block;
}

.miao_r span, .miao_r i {
    font-size: 18px;
    font-weight: bold;
    color: #440106;
}

.miao_r i {
    display: inline-block;
    width: 35px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    background: rgba(0, 0, 0, .5);
    border-radius: 2px;
}

.miao_r span {
    margin: 0 3px;
}

.arrow1, .arrow2 {
    position: absolute;
}

.arrow1 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px;
    border-color: #F6F6F6 transparent transparent transparent;
    left: -20px;
    top: 0;
}

.arrow2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px;
    border-color: #bd0311 transparent transparent #bd0311;
    left: 3px;
    top: 3px;
}

.miao_bot {
    width: 1190px;
    height: 226px;
    margin-top: 12px;
    overflow: hidden;
}

.miao_bot ul {
    width: 1200px;
}

.miao_bot li {
    float: left;
    width: 169px;
    height: 206px;
    border-right: 1px solid #e7e7e7;
    padding: 20px 15px 0;
    text-align: center;
    position: relative;
}

.miao_bot li:last-child {
    padding: 0;
    margin-left: -1px
}

.miao_bot p, .miao_bot h4 {
    text-align: left;
}

.miao_bot h4 {
    margin: 20px 0 6px;
}

.miao_bot span {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}

.miao_bot em {
    position: absolute;
    top: 0;
    left: 10px;
    width: 30px;
    height: 42px;
    background: url(../images/sprite_index@1x.png) 0 -100px;
    color: #fff;
    line-height: 32px;
    text-align: center;
}

/* 发现好货 */
.good > div {
    width: 390px;
    height: 444px;
    background: #fff;
    overflow: hidden;
}

.good_m {
    margin-left: 10px;
}

.good_l .miao_top {
    background: #398594;
}

.good_l .arrow2 {
    border-color: #398594 transparent transparent #398594;
}

.good_m .miao_top {
    background: #6f3d83;
}

.good_m .arrow2 {
    border-color: #76488e transparent transparent #76488e;
}

.good li {
    float: left;
}

.good_pro {
    width: 370px;
    height: 362px;
    margin: 10px 0 0 10px;
    overflow: hidden;
}

.good_pro ul {
    width: 373px;
}

.good_pro li {
    width: 185px;
    height: 120px;
    border: 1px solid #e7e7e7;
    margin-left: -1px;
    margin-top: -1px;
    position: relative;
}

.good_pro h4, .good_pro img {
    position: absolute;
}

.good_pro h4 {
    left: 40px;
    top: 20px;
    color: #3c8e97;
    width: 75px
}

.good_pro img {
    right: 20px;
    bottom: 10px;
    color: #3c8e97;
}

.good_bot {
    padding: 26px 0 0 26px;
}

.good_bot li {
    margin-right: 10px;
    float: left;
}

.good_bot h4 {
    font-size: 14px;
    height: 34px;

}

.good_line {
    width: 330px;
    height: 1px;
    background: #eee;
    margin: 15px 0;
}

.round li {
    width: 8px;
    height: 8px;
    float: left;
    background: #c8c8c8;
    border-radius: 50%;
}

.round {
    margin: 27px auto 0;
    width: 66px;
}

.good_title {
    width: 370px;
    margin: 0 auto;
    padding: 6px 0 7px;
    height: 20px;
    border-bottom: 1px solid #e7e7e7;
    overflow: hidden;
    white-space: nowrap;
}

.good_title a {
    display: inline-block;
    width: 77px;
    border-right: 1px solid #e7e7e7;
    text-align: center;
    font-size: 14px;
    height: 25px;
}

.good_title a:first-child {
    margin-left: -10px
}

.good_title a:hover {
    border-bottom: 2px solid red;
}

.good_title_list {
    width: 368px;
    height: 335px;
    background: #fff;
    margin: 10px auto 0;
    overflow: hidden;
}

.good_title_list li img {
    width: 100px;
    margin: 13px 0;
}

.good_title_list ul {
    width: 370px;
}

.good_title_list li {
    width: 124px;
    height: 167px;
    border: 1px solid #e7e7e7;
    margin-left: -1px;
    margin-top: -1px;
    padding: 0 11px;
    box-sizing: border-box;
}

/* 底部 */
.footer {
    height: 520px;
    background: #eaeaea;
    margin-top: 40px;
}

.slogan {
    height: 102px;
    padding-top: 30px;
    padding-left: 37px;
    box-sizing: border-box;
    overflow: hidden;
}

.slogan ul {
    width: 1200px;
}

.slogan li {
    float: left;
    width: 298px;
    font-size: 20px;
    color: #444;
    font-weight: bold;
}

.slogan li i {
    display: inline-block;
    width: 36px;
    height: 42px;
    text-indent: -5000px;
    background: url(../images/ico_service.png);
    vertical-align: middle;
    margin-right: 10px;
}

.slogan li:nth-child(2) i {
    background-position: 0 -43px
}

.slogan li:nth-child(3) i {
    background-position: 0 -86px
}

.slogan li:nth-child(4) i {
    background-position: 0 -129px
}

.footer .line {
    height: 1px;
    background: #666;
}

.sale {
    height: 175px;
    padding: 26px 0;
    border-bottom: 1px solid #666;
}

.sale dl {
    float: left;
    width: 198px;
}

.sale dt, .sale h6 {
    height: 28px;
    font-weight: bold;
    font-size: 14px;
}

.sale dd {
    height: 22px;
}

.sale_r {
    width: 198px;
}

.sale_r h6 {
    height: 36px;
}

.sale_r p {
    line-height: 18px;
}

.sale p:last-child {
    text-align: right;
}

.sale_r {
    height: 148px;
    background: url(../images/ico_footer.png);
}

.footer .w > p {
    text-align: center;
}

.footer .w > p:first-child {
    margin-top: 19px;
    height: 32px;
}

.footer .w > p span {
    display: inline-block;
    width: 1px;
    height: 13px;
    background: #d1ccd1;
    margin: 0 12px;
    vertical-align: middle;
}

.fh {
    height: 24px;
}

.footer .w > p:last-child a {
    width: 104px;
    height: 32px;
    display: inline-block;
    background: url(../images/ico_footer.png) 0 -151px;
}

.footer .w > p:last-child a.icon2 {
    background-position: -103px -151px;
}

/* 侧边固定 */
.kefu {
    position: fixed;
    bottom: 174px;
    right: 0;
}

.kefu li {
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin-bottom: 1px;
    position: relative;
}

.kefu a {
    display: block;
    width: 90px;
    height: 35px;
    padding-left: 8px;
    border-radius: 3px;
    color: #fff;
    background: #c81623;
    position: absolute;
    left: 130px;
    transition: all 1s;
}

.kefu li:hover a {
    left: -60px;
}

.kefu li i:hover {
    cursor: pointer;
}

.kefu i {
    display: inline-block;
    width: 35px;
    height: 35px;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 3px;
    background: rgba(0, 0, 0, .5) url(../images/toolbars.png) -48px -50px;
}













