body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,input,select,li {
    margin: 0;
    padding: 0;
    border: 0;
}

img {
    outline-style: none;
    vertical-align: middle;
}
li{
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 400;

}
.wrapper {
    width: 1180px;
    margin: 0 auto;
}

body {
    font-family: microsoft yahei;
}
a {
    text-decoration: none;
    color: #000;
}
a:hover{
    text-decoration: none;
}
.fl	{
    float: left;
}
.fr {
    float: right;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}
.clearfix{
    zoom:1;
}